* {
    font-family: Arial;
}

/*div {*/
    /*!*color: #ff2cc3;*!*/
    /*padding: 10px 20px;*/
    /*margin: 13px;*/
/*}*/

/*.container {*/
    /*width: 600px;*/
    /*border: 1px solid black;*/
    /*margin: 0 auto;*/
/*}*/

.ramk {
/*width:200px; !* Длина фигуры *!*/
/*height:100px; !* Высота фигуры *!*/
/*color: #0000; !* цвет текста *!*/
background:grey; /* фон блока */
border: 1px #CCCCCC solid; /* стили рамки */
}

.zapovnenniaanketu {

    /*margin: 0px 0px 200px 0px;*/
    /*margin: 20px 0px 20px 0px;*/
    border:2px solid #606060;
    /*text-align: left;*/



}

.stitleanketa {
    font-weight: bolder;
    font-family: Georgia;
    font-size: 400%;
}

.slabelanketa {
    /*text-align: right;*/
    /*font-size: 150%;*/
    font-weight: bolder;
}
.svalueanketa {
    text-align: left;
    /*font-size: 120%;*/
    line-height: 1.5;
}

.slabel {
    text-align: right;
    line-height: 1.5;
}

.svalue {
    text-align: left;
}

.scontact {
    height: 200px;
}

.coloris {
    height: 1px;
    background-color: grey;
}

.stitzvit {
    font-weight: bolder;
    margin-left: 10%;
    margin-right: 10%;
}

.stilozvit {

    /*font-family: Georgia;*/
    font-size: 200%;
    text-align: left;
    line-height: 1.5;
}

.stiloznachzvit {
    /*text-align: right;*/
    margin-left: 15%;
    font-size: 85%;
}

.fontColorHeader{
    color: #1A3C8D;
    /*color: #c96c37;*/
}

.fa-shadow{
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}